/* Reset de margens e preenchimentos e estilos padrão */
* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* Estilos para rótulos e inputs */
label{
    display: block;
    line-height: 30px;
    outline: none;
    font-size: 13pt;
    width: 100%;
    color: #fcfcfc;
    margin-top: 5px;
}
input {
    display: block;
    line-height: 30px;
    outline: none;
    font-size: 13pt;
    width: 100%;
    color: #000000;
    margin-top: 5px;
}
/* Estilo para cabeçalho h1 */
h3 {
    text-align: center;
    color: #e8dbdb;
}

/* Estilos para formulário */
form {
    width: 330px;
    background-color: #212529;
    padding: 20px;
    margin: 30px auto;
}

/* Estilos para botão de envio */
input[type="submit"] {
    margin-top: 10px;
    cursor: pointer;
}

/* Estilos para as duas colunas */
#esquerda {
    width: 50%;
    height: 500px;
    float: left;
    margin-top: -20px;
}

#direita {
    width: 35%;
    height: 500px;
    float: left;
    margin-top: -20px;
}

/* Estilos para tabela */
table {
    background-color: rgb(89, 78, 78);
    width: 90%;
    margin: 30px auto;
}

tr {
    line-height: 30px;
}

/* Estilos para a linha de título da tabela */
tr#titulo {
    font-weight: bold;
    background-color: rgb(0, 0, 0);
    color: white;
}

td {
    padding: 0 5px;
    text-align: center;
}

/* Estilos para links */
a {
    background-color: white;
    color: black;
    padding: 5px;
    margin: 0 5px;
    text-decoration: none;
}

/* Estilos para a classe 'aviso' */

/* Estilos para imagens */
img {
    width: 40px;
}

/* Estilos para cabeçalho h4 */
.botao1 {
    background: rgb(91, 176, 91);
    padding: 0.5px;
    color: #000000;
    text-decoration: none; /* Remover sublinhado do link */
    border: none;
    cursor: pointer;
    border-radius: 4px;
    width: 90%;
    align-items: center;
    justify-content: center;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
    text-align: center;
    line-height: 30px;
    outline: none;
    font-size: 13pt;
    width: 100%;
}

/* Estilizando o botão quando o mouse passa por cima */
.botao1:hover {
    background-color: #949597;
}
.botao2 {
    background: rgb(200, 67, 67);
    padding: 0.5px;
    color: #fcfcfc;
    text-decoration: none; /* Remover sublinhado do link */
    border: none;
    cursor: pointer;
    border-radius: 4px;
    width: 50%;
    align-items: center;
    justify-content: center;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 30px;
    text-align: center;
    line-height: 30px;
    outline: none;
    font-size: 13pt;
}

/* Estilizando o botão quando o mouse passa por cima */
.botao2:hover {
    background-color: #949597;
}
.editar{
    color: #fcfcfc;
    background: rgb(207, 212, 61);
}
.excluir{
    color: #fcfcfc;
    background: rgb(215, 108, 46);
}
.excluir:hover {
    background-color: #949597;
}
.editar:hover {
    background-color: #949597;
}
.alerta{
    background: rgb(227, 31, 31);
    width: 100%;
    height: 30px;
    text-align: center;
    align-items: center;
    border-radius: 20px;
    position: relative;
    margin-top: 10px;
}
.alerta h4{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin: 0px !important;
    font-size: 13px;
    color: #ffffff;
    width: 100% !important;
    padding: 0px !important;
    min-height: 15px;
}
.aviso{
    background: rgb(31, 227, 57);
    width: 100%;
    height: 30px;
    text-align: center;
    align-items: center;
    border-radius: 20px;
    position: relative;
    margin-top: 10px;
}
.aviso h4{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin: 0px !important;
    font-size: 13px;
    color: #ffffff;
    width: 100% !important;
    padding: 0px !important;
    min-height: 15px;
}
span{
    color: red;
}
.aviso h5{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin: 0px !important;
    font-size: 13px;
    color: #ffffff;
    width: 100% !important;
    padding: 0px !important;
    min-height: 15px;
    
}


